extends layout

block content
  div(class="container-fluid" style="padding-bottom:10px")
    div(class="row")
      div(class="col-xs-8 col-sm-8 col-md-8 col-lg-8")
        input(type="range" min="1" max="100" value="50" class="slider")
      div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
        button(type="button" class="btn btn-block btn-success") +
      div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
        button(type="button" class="btn btn-block btn-danger") -

  div(class="panel panel-primary")
    div(class="panel-heading")
      div(class="panel-title container-fluid")
        div(class="row")
          div(class="col-xs-10 col-sm-10 col-md-10 col-lg-10") #{spotName}: #{spotId}
          div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") 31 mins
    div(class="panel-body")
      table(class="table table-bordered")
        thead
          tr
            th(scope="col") Time
            th(scope="col") Surf
            th(scope="col") Primary Swell
            th(scope="col") Secondary Swell
            th(scope="col") Wind
        tbody
          tr
            th(scope="row") #{timestamp}
            td #{minSwellHeight}-#{maxSwellHeight} #{swellUnits}
            td #{primarySwellHeight} #{swellUnits} #{primarySwellPeriod} s #{primarySwellDirection}
            td #{secondarySwellHeight} #{swellUnits} #{secondarySwellPeriod} s #{secondarySwellDirection}
            td #{windSpeed} #{windUnits} #{windDirection}
          tr
            th(scope="row") 3:00 pm
            td 3-4 ft
            td 4 ft 8 s W
            td 1 ft 15 s N
            td 10 mph SE
          tr
            th(scope="row") 6:00 pm
            td 3-4 ft
            td 4 ft 8 s W
            td 1 ft 15 s N
            td 10 mph SE

  div(class="panel panel-primary")
    div(class="panel-body")
      table(class="table table-bordered")
        tbody
          tr
            td High 2:32 am 4.59 ft
            td First Light 5:18 am
          tr
            td Low 10:00 am -0.3 ft
            td Sunrise 5:46 am
          tr
            td High 5:11 pm 4.03 ft
            td Sunset 7:54 pm
          tr
            td Low 10:31 pm 2.33 ft
            td Last Light 8:22 pm
